/* the CSS style sheet */

/* title selecter, body, div...etc*/
body {

    background-color: aliceblue;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

/* id selector, start with # */
#me{
    font-weight: bolder;
}
#education{
    font-size: large;
    font-weight: bolder;
}

/* class selector, start with . */

/* main contents in the page*/
.content{
    padding-left: 15%;
    padding-right: 15%;
}

/*the main header in the home page*/ 
.mainhead{
    background-color: #c8e9f3;
    display: flex;
}
/* Name, info*/
.info {
    flex: auto;
    width: 50%;
}
.info div{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.menu{
    flex: none;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu a{
    flex: none;
    margin-right: 15px;
}


/* .menu{
    border: 1px dashed white;
    background-color: aliceblue;
    color: white;
} */

.intro {
    background-color: beige;
    display: flex;
    color: gray;
    font-size: 45px;
    /* display: flex; */
    text-align: center;
}
.intro-pic{
    background-color: white;
    margin: 20px;
    flex: none;
    width: 30%;
}
.intro-words{
    /* background-color: white; */
    flex: none;
    width: 60%;
    text-align: left;
}
.intro-words div{
    color: rgb(79, 77, 77);
    font-size: 25px;
}
.intro-span {
    color: black;
}

.section {
    background-color: rgb(171, 168, 168);
    font-size: 25px;
    text-align: center;
}

.about_me{

}

.experience {
    display: flex;
    font-size: 20px;
    border: 1px dashed blue;
    margin-top: 10px;
}
.experience div{
    flex: none;
    width: 90%;
}
.experience-head{
    background-color: antiquewhite;
    color: aqua;
    align-items: center;
    text-align: center;
}

.experience-details{
    background-color: rgb(247, 162, 162);


}

.school{
    padding-left: 15%;
    padding-right: 15%;
    border: 1px dashed rgb(230, 178, 46);
}

.project {
    background-color: aqua;
    padding-left: 15%;
    padding-right: 15%;
    border: 1px dashed blue;
    margin: 10px;
}

.icon {
    flex: none;
    width: 20%;
    margin-right: 10px;
}


.icons{
    background-color: grey;
}
.icons img{
    flex: none;
    height: auto;
    width: 20%;
}

.menu button {
    display: inline-block;
    /* background-color: #4CAF50; */
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}