/* the CSS style sheet */

/* title selecter, body, div...etc*/
body {
    background-color: aliceblue;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

/* id selector, start with # */
#me{font-weight: bolder;}

/* class selector, start with . */
.intro {
    color: gray;
    font-size: 45px;
}

.intro-span {
    color: black;
}

.section {
    background-color: rgb(171, 168, 168);
    font-size: 25px;
}

.experience {
    font-size: 20px;
    border: 1px dashed blue;
    margin: 10px;
}

.icon {
    width: 150px;
    margin-right: 10px;
}
.menu{
    border: 1px dashed white;
    background-color: aliceblue;
    color: white;
}

